body {
    margin: 0;
    background-color: #7e95be; /* Lighter blue background */
    font-family: Arial, sans-serif;
}

.container {
    height: 26rem;
    max-width: 67rem;
    margin: 2rem auto;
    border: 2px solid #261919;
    border-radius: 10px;
    box-shadow: 0 50px 50px rgba(28, 24, 24, 0.1);
    background-color: #2567a9; /* Darker blue background */
}

.head {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: rgb(136, 236, 219); /* Light pink background */
    color: #2e549f; /* Suggested blue color */
    font-size: 3rem;
    border: 1px solid;
    border-color: #cdcaca; /* Lighter border color */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    text-shadow: 3px 3px #FF0000; 

}

.butt {
    display: grid;
    grid-template-columns: repeat(7, 9rem);
    height: 15rem;
    width: 63rem;
    margin-left: 2rem;
    margin-top: 10px;
}

.butt button {
    height: 3rem;
    margin: 4px;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #f0f0f0; /* Light gray background */
    color: #333;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.butt button:active {
    border: 1.5px solid black;
    background-color: #e0e0e0; /* Slightly lighter gray on click */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.butt .op {
    background-color: #c7c9cd; /* Light gray background */
    color: black;
}

.butt .inv {
    background-color: #c7813b; /* Light orange background */
    color: black;
}

.butt .eql {
    background-color: rgb(26, 178, 26); /* Dark green background */
    color: white;
}

.butt .dlt-btns {
    display: flex;
    justify-content: space-evenly;
}

.butt .dlt-btns button {
    background-color: rgb(255, 92, 92); /* Light red background */
    color: white;
    padding: 0 1.3rem;
}

.display {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 3rem;
    width: 61rem;
    border-radius: 1rem;
    border: 1px solid;
    border-color: #cdcaca; /* Lighter border color */
    margin-top: 1.5rem;
    margin-left: 2rem;
    text-align: right;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display .exp {
    margin-right: 1rem;
    margin-top: 0.8rem;
}
